$grey: #4A4A4A;
$green: #E2FAAF;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body, .container {
	height: 100%;
}

.header {
	background: #3F3F3F;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 5px 30px;

    p {
    	color: white;
    }

    a {
    	float: right;
    	color: lightblue;
    }

    .logo {
    	color: $green;
    	h2 {
        font-size: 26px;
        margin: 2px 0 1px;
    	}
    	img {
    		width: 55px;
    		float: left;
    		margin-right: 10px;
        margin-top: -2px;
    	}
    }

    button {
    	float: right;
      margin-left: 5px;
    }
}

.container {
	display: grid;
	grid-template-columns: auto 460px;
	padding-top: 70px;
}

button {
	padding: 13px 20px;
	font-size: 20px;
	background: #E57070;
	color: white;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer;
}

.main-view, .map-view {
	height: 100%;
	padding: 30px;
	position: relative;
}

.main-view {
	background: $grey;
}

.heading {
	padding: 20px 0;
    clear: both;
    display: inline-block;
    width: 100%;

    h1 {
    	display: inline-block;
    	color: white;
    	font-size: 26px;
    	font-weight: normal;
    	margin: 18px 0;
	    font-style: italic;
    }

	button {
		float: right;
		padding: 13px 20px;
		font-size: 34px;
	}
}

.deets {
	display: grid;
	grid-template-columns: 6fr 4fr;

	p, li {
		color: white;
	}

  li {
    margin-bottom: 5px;
    font-size: 12px;
    
    em {
      color: #c1c1c1;
    }
  }
}

.modal {
  position: fixed;
  width: 400px;
  top: 100px;
  background: $green;
  left: calc(50% - 200px);
  padding: 30px;
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;

  &.show {
    display: block;
  }
}


.map-view {
	background: $green;
}

.town {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  position: relative;
  background-image: url('/images/background.svg');
  background-size: 400px;
  background-repeat: no-repeat;
  border: 2px $grey solid;
}

.mailman {
	background-image: url('/images/right1.svg');
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background-size: 120px 40px;
	background-repeat: no-repeat;
	background-position: 3px center;
	transition: margin 0.5s 0s;
	
	&.right {
	  background-image: url('/images/right.svg');
	}
	
	&.down {
	  background-image: url('/images/down.svg');
	}
	
	&.left {
	  background-image: url('/images/left.svg');
	}
	
	&.up {
	  background-image: url('/images/up.svg');		
	}

	&.moving {
	  animation: drive 0.5s steps(1) infinite;
	}

  &.delivering, &.moving.delivering {
    animation: none;
    background-position: -72px center;
  }
}

.success-message, .fail-message {
	  position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    opacity: 0;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;

    h2 {
    	color: white;
    	margin-bottom: 10px;
    }

    img {
    	width: 300px;
    	margin: auto;
    	position: relative;
    	margin-bottom: -20px;
    }

    &.show {
    	opacity: 1;
      visibility: visible;
    }
}

.success-message img {
	animation: jump 1s infinite alternate;
	animation-timing-function: cubic-bezier(.13,.59,.45,.54);
}

// Animations
@keyframes drive {
  0% {
    background-position: -35px center;
  }
  50% {
    background-position: 3px center;
  }
  100% {
    background-position: -35px center;
  }
}

@keyframes jump {
  from {top: 0px;}
  to {top: -50px;}
}
