<!doctype html>
<head>
<title>CodeMirror: Theme Demo</title>
<meta charset="utf-8"/>
<link rel=stylesheet href="main.css">
<link rel="stylesheet" href="hopscotch.css">
<link rel="stylesheet" href="codemirror.css">

<script src="codemirror.js"></script>
<script src="javascript.js"></script>
<script src="active-line.js"></script>
<script src="matchbrackets.js"></script>
</head>
<body>


<div class="container">
  <div class="main-view">
    <textarea id="code" name="code">
      function corner(){
      move(3);
      turn("R");
      move(2); 
    }


    for(var i=0;i<4;i++){
    corner();
    }
    </textarea>

    <button id="runCode">run it</button>
  </div>

  <div class="map-view">
    <div id="app">
      
      <div class="town">
        <div v-for="x in map" v-bind:class="'tile-' + x"></div>
        <div class="mailman"
             v-bind:style="{ 
                           marginLeft: mailmain.left * 50 + 'px', 
                           marginTop: mailmain.top * 50 + 'px' }"
             v-bind:class="{
                          'right': mailmain.direction == 0,
                          'down': mailmain.direction == 1,
                          'left': mailmain.direction == 2,
                          'up': mailmain.direction == 3,
                          'moving': mailmain.moving == true
           }"
             >
        </div>
      </div>
      <div v-if="Errors">{{Errors}}</div>
    </div>
  </div>
  
</div>

<script src="dist/bundle.js"></script>

</body>
