<!doctype html>
<head>
<title>PostCode | code to deliver the post</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="hopscotch.css">
<link rel="stylesheet" href="codemirror.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<script src="codemirror.js"></script>
<script src="javascript.js"></script>
<script src="active-line.js"></script>
<script src="matchbrackets.js"></script>
</head>
<body>

<div class="header">
  <div class="account-area">
  <button id="signOut" class="account-btn">sign out</button>
  <button id="linkacc">create account</button>
  <span id="userEmail"></span>
  </div>
  <div class="logo">
    <img src="images/site-logo.svg" />
  </div>
</div>

<div class="container">
  <div class="main-view">
    <p id="codeError" class="code-error"></p>
    <textarea id="code" name="code">
    </textarea>

    <div id="levelsText" v-if="level">
        <div class="heading">
          <h1>Mission {{level}}: {{title}}</h1>
          <button id="runCode" @click="RunCode()">run it</button>
        </div>

        <div class="deets">
          <p v-html="description"></p>

          <ul class="docs">
            <li v-for="x in docs"><em>{{GetDocsData(x).cmd}}</em> : {{GetDocsData(x).desc}}</li>
          </ul>
        </div>

    </div>
  </div>

  <div class="map-view" id="app">
    <div class="success-message" v-bind:class="{'show': success}">
      <img src="images/success.svg" />
      <h2>Success!</h2>
      <button @click="NextLevel()">Next level</button>
    </div>

    <div class="fail-message" v-bind:class="{'show': fail}">
      <img src="images/failed.svg" />
      <h2>Task failed..</h2>
      <div v-if="Errors" class="error m-bott">{{Errors}}</div>
      <button @click="ResetLevel()">Try again</button>
    </div>
    
    <div>
      
      <div class="town">
        <div v-for="x in map" v-bind:class="'tile-' + x"></div>
        <div class="mailman"
             v-bind:style="{ 
                           marginLeft: mailmain.left * 50 + 'px', 
                           marginTop: mailmain.top * 50 + 'px' }"
             v-bind:class="{
                          'right': mailmain.direction == 0,
                          'down': mailmain.direction == 1,
                          'left': mailmain.direction == 2,
                          'up': mailmain.direction == 3,
                          'moving': mailmain.moving == true,
                          'delivering': mailmain.delivering == true
           }"
             >
        </div>
      </div>
    </div>
  </div>
  
</div>


<div id="accModal">
  <div class="modal-base" @click="EvalModal()" v-bind:class="{'show': showModal}"></div>
  <div class="modal" v-bind:class="{'show': showModal}">
    <div v-if="loggedOut">
      <img src="images/site-logo-grey.svg" />
      <p>PostCode is a javascript learning tool. 
        Learn some key programming concepts by delivering that mail!</p>
        <div class="center">
          <button @click="SignInAnon()">Give it a go!!</button>
          <p>or <a @click="ShowLoginForm()">login</a> to existing account</p>
        </div>
    </div>
    <div v-if="SignUpForm || LogInForm">
      <form v-on:submit.prevent>
        <div class="row">
          <label>Email</label>
          <input type="email" v-model="form.email" />        
        </div>
        <div class="row">
          <label>Password</label>
          <input type="password" v-model="form.password" />        
        </div>
        <div class="right">
          <button @click="SignUpLinkAcc()" v-if="SignUpForm">Sign up</button>
          <button @click="LoginAcc()" v-if="LogInForm">Log in</button>
        </div>
        <p class="error">{{err}}</p>
      </form>
    </div>
  </div>
</div>

<script src="dist/bundle.js"></script>

</body>
